main {
    @include media(sm-max) {
        width: 100%;
        overflow: hidden;
        position: relative;

        .view {
            height: 100vh;
            will-change: transform;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            transition: transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
        }

        .list-view {
            position: relative;
        }

        .details-view {
            transform: translateX(100%);
            box-sizing: border-box;
        }

        &.view-change .list-view {
            transform: translateX(-100%);
        }

        &.view-change .details-view {
            transform: translateX(0);
        }

        #contact-details-wrap {

        }
        #contact-list-overview {
            height: calc(100vh - 135px);
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
        }
        #contact-list-actions, #contact-details-actions {
            //position: fixed;
            //bottom: 0;
        }
        #contact-details {
            height: calc(100vh - 135px);
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
        }
        #contact-details-menu {
            button {
                line-height: 20px;
                background: $grey-light;
                color: $grey-dark;
                border-bottom: 1px solid lighten($grey-middle, 20);
            }
        }
        @include media(portrait){

        }
        @include media(landscape){
            .view {
                height: 100%;
            }
            #contact-list-overview {
                height: 100%;
            }
            #contact-details {
                height: 100%;
            }
        }
    }

    @include media(md) {
        #contact-list-wrap {
            height: 100vh;
            float: left;
            width: $contact-list-width;
        }
        #contact-list-overview {
            height: calc(100vh - (#{$menu-list-height} + 61px));
            overflow: scroll;
        }
        #contact-details-wrap {
            margin-left: $contact-list-width;
            height: 100vh;
            position: relative;
            border-left: 1px solid lighten($grey-middle, 10);
        }
        #contact-details {
            height: calc(100vh - #{$menu-list-height});
            overflow: scroll;
        }
    }

    @include media(lg) {
        margin-left: $header-width;
    }
}
