{
    "env": {
        "es6": true,
        "browser": true
    },
    "extends": "airbnb",
    "rules": {
        "no-unused-vars": [1,{"argsIgnorePattern": "pcard"}],
        "no-undef": 1,
        "no-console": 0,
        "indent": [1, 4]
    }
}
