//Basic units
$bp-unit: em;
$bp-pixel-base: 16;
$bp-unit-to-pixel-ratio: 1 / $bp-pixel-base;

//Break points for min-width
$bp-sm: 20;
$bp-md: 42;
$bp-lg: 58;

//Break points for min-width in pixels
$bp-sm-px: $bp-sm * $bp-pixel-base;
$bp-md-px: $bp-md * $bp-pixel-base;
$bp-lg-px: $bp-lg * $bp-pixel-base;

//Break points for max-width
$bp-xs-max: $bp-sm - $bp-unit-to-pixel-ratio;
$bp-sm-max: $bp-md - $bp-unit-to-pixel-ratio;
$bp-md-max: $bp-lg - $bp-unit-to-pixel-ratio;

//Media query arguments
$bp-from: 'min-width:';
$bp-to: 'max-width:';

$breakpoints: (
  'sm' : ('screen and (#{$bp-from} #{$bp-sm}#{$bp-unit})'),
  'md' : ('screen and (#{$bp-from} #{$bp-md}#{$bp-unit})'),
  'lg' : ('screen and (#{$bp-from} #{$bp-lg}#{$bp-unit})'),
  'xs-max' : ('screen and (#{$bp-to} #{$bp-xs-max}#{$bp-unit})'),
  'sm-max' : ('screen and (#{$bp-to} #{$bp-sm-max}#{$bp-unit})'),
  'md-max' : ('screen and (#{$bp-to} #{$bp-md-max}#{$bp-unit})'),
  'sm-only' : ('screen and (#{$bp-from} #{$bp-sm}#{$bp-unit}) and (#{$bp-to} #{$bp-sm-max}#{$bp-unit})'),
  'md-only' : ('screen and (#{$bp-from} #{$bp-md}#{$bp-unit}) and (#{$bp-to} #{$bp-md-max}#{$bp-unit})'),
  'portrait' : ('screen and (orientation: portrait)'),
  'landscape' : ('screen and (orientation: landscape)'),
);
