#contact-details{
    animation: fadeIn 400ms ease-in-out;

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
    }

    $icon-arrow-right-size: 26px;
    $icon-star-filled-size: 18px;
    $icon-gutter: $gutter-fourth;

    padding: $gutter;
    header{
        @include clearfix;
        position: relative;
        line-height: $contact-list-detail-height;
        .has-image{
            float: left;
            margin-right: $gutter-half;
            label{
                width: $contact-list-detail-height;
                height: $contact-list-detail-height;
            }
            img {
                @extend .is-round;
                width: $contact-list-detail-height;
                height: $contact-list-detail-height;
            }
            #edit-image-field{
                position: absolute;
                top: $contact-list-detail-height / 4;
                left: 0;
                width: $contact-list-detail-height;
                height: $contact-list-detail-height;
                line-height: $contact-list-detail-height / 4;
                font-size: 13px;
                text-align: center;
            }
        }
        .has-name{
            margin-right: $gutter;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            #contact-details-name-field {
                font-size: 28px;
                font-weight: $font-weight-base;
                height: $contact-list-detail-height;
            }
        }
        .has-favorite{
            position: absolute;
            height: $contact-list-detail-height;
            right: 0;
            top: 0;
            svg{
                width: 24px;
                top: 6px;
                position: relative;
                *{
                    fill: $grey-dark;
                }
            }
        }
    }
    .form-section{
        $label-width: 74px;
        $form-element-height: 38px;
        padding: $gutter 0;
        border-bottom: 1px solid darken($grey-light, 10);
        @include clearfix;
        &:last-child{
            padding-bottom: 0;
            margin-bottom: 0;
            border: none;
        }
        .label-wrapper{
            float: left;
            width: $label-width;
        }
        .element-wrapper{
            margin-left: $label-width;
        }
        label{
            line-height: $form-element-height;
        }
        input {
            font-size: 20px;
        }
        textarea{
            margin-top: 5px;
        }
    }
}

form{
    &.read-mode{

    }
    &.write-mode{
        header{
            .has-image{
                &:hover{
                    img{
                        opacity: .1;
                    }
                    #edit-image-field{
                        display: inline-block;
                    }
                }
            }
        }
    }
}

#contact-details-actions{
    button, .button{
        flex: 1;
    }
}
