form {
    &.read-mode {
        label{
            color: darken($grey-light, 20);
        }
        label, svg *{
            cursor: default;
        }
    }
    &.write-mode {
        label, svg *{
            cursor: pointer;
            color: $blue-light;
        }
        input{
            border-bottom-color: darken($grey-light, 5);
        }
        textarea{
            border-color: darken($grey-light, 5);
            border-radius: $border-radius;
        }
    }
}
