#contact-list-wrap {
    position: relative;
}

#contact-list-search {
    padding: $gutter-half * 1.5 $gutter-half;
    border-bottom: 1px solid lighten($grey-middle, 10);
}

#contact-list-search-field {
    width: 100%;
    height: 30px;
    line-height: 30px;
    border: 1px solid lighten($grey-middle, 15);
    color: $grey-dark;
    border-radius: $border-radius;
}

#contact-list-overview {
    $icon-arrow-right-size: 26px;
    $icon-star-filled-size: 18px;
    $icon-gutter: $gutter-fourth;
    li {
        @include clearfix;
        position: relative;
        padding: $gutter-half;
        line-height: $contact-list-item-height;
        cursor: pointer;
        transition: $transition-short;
        &:nth-child(odd) {
            background: $grey-light;
        }
        &:hover {
            background: lighten(desaturate($blue, 10), 60);
        }
    }
    img {
        @extend .is-round;
        float: left;
        width: $contact-list-item-height;
        height: $contact-list-item-height;
        margin-right: $gutter-half;
    }
    h2 {
        margin-right: $gutter-double;
        color: $grey-dark;
        font-size: 16px;
        font-weight: $font-weight-base;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    svg{
        position: absolute;
        &.icon-star-filled{
            width: $icon-star-filled-size;
            right: $icon-gutter + $icon-arrow-right-size;
            top: (($contact-list-item-height + $gutter) / 2) - ($icon-star-filled-size / 2);
        }
        &.icon-arrow-right{
            width: $icon-arrow-right-size;
            right: $icon-gutter;
            top: (($contact-list-item-height + $gutter) / 2) - ($icon-arrow-right-size / 2);
        }
    }
    &.is-filtered{
        li{
            &.is-odd{
                background: $grey-light;
                &:hover {
                    background: lighten(desaturate($blue, 10), 60);
                }
            }
        }
    }
}

#contact-list-actions{
    width: calc(100% + 1px);
    margin-left: -1px;
}
