// todo: check why 'add contact' trigger does not animate to contact view

//-- Mixins --//
@import "mixins/clearfix";
@import "mixins/mediaquery";
@import "mixins/font-smoothing";
@import "mixins/rem";

//-- Variables --//
@import "variables/breakpoints";
@import "variables/theme";

//-- Development --//
@import "dev/helpers";

//-- Basic --//
@import "basic/classes";
@import "basic/elements";
@import "basic/media-queries";

//-- Theme --//
@import "theme/attributes";
@import "theme/classes";
@import "theme/elements";

//-- Components --//
//-- Global
@import "components/global/form/elements";
//-- Theme
@import "components/theme/form-section";
@import "components/theme/list-item";
@import "components/theme/action-menu";

//-- Templates --//
//-- Page
@import "templates/global";
//-- Partials
@import "templates/partials/contact";
@import "templates/partials/contact-actions";
@import "templates/partials/contact-menu";
@import "templates/partials/list";
@import "templates/partials/list-actions";
@import "templates/partials/list-menu";
@import "templates/partials/list-search";
